/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  background-color: rgb(198, 197, 197);
}

.white-bg {
  background-color: white;
  border: solid black 2px;
  border-radius: 10px;
}

.container-within {
  width: 90%;
  margin: auto;
}

#module-banner {
  height: 120px;
  width: 50%;
}

#banner-text {
  position: relative;
  top: 45px;
}

#badge {
  position: relative;
  left: 200px;
  height: 120px;
  width: 10px;
  border: solid black 2px;
  border-radius: 100%;
  margin: auto 150px;
}

#badge-text {
  position: relative;
  top: 45px;
}

.line {
  color: white;
  font-weight: 800;
}

.videos {
  height: 300px;
}

.video-text {
  position: relative;
  top: 125px;
}

.schedule {
  margin: auto;
  width: 80%;
  background-color: white;
  color: orange;
  border: solid orange 5px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 25px;
}

.option {
  height: 150px;
}

.option-text {
  position: relative;
  top: 55px;
}

.finish-row {
  width: 10%;
  margin: auto;
}

.finish {
  height: 50px;
  background-color: white;
  color: blue;
  font-weight: 600;
}